extends base

block content 
    form(method="POST")
        input(placeholder="Old password",name="oldpassword")    
        input(placeholder="New Password",name="newpassword")
        input(placeholder="New Password Confirmation",name="newpassword1")
        input(value="Change Password", type="submit")  